node_modules/
npm-debug.log
.tmp
.csv
.sass-cache
/public/bower_components
/bower_components
/bower_components
/css/main.css
/jade
/vendors
/index.html
base_data/
documentation/index.html
documentation/layout.html

.DS_Store
.idea/**/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.vim-bookmarks
config/env/development.js
.idea/
__MACOSX/
uploads/*
dist/
